body{
	color: white;
	background-color: lightgreen;
	font-family: sans-serif;
	font-size: 1.1rem;
}

#container{
	width: 75vw;
	margin: 4% auto;
	border: 8px solid white;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 90%;
	height: 80%;
	display: grid;
	grid-template-rows: repeat(autofill, 50px;);
}


label{
	background-color: rgba(46, 139, 87, 0.7);
	padding: 5px;
	border-radius: 10px;
}

input{
	height: 25px;
	width: 95%;
	border-radius: 10px;
	border: 2px solid white;
}

input:focus{
	outline: blue;
	border: 3px solid white;
}

#firstNameLabel, #lastNameLabel{
	width: 48%;
}

#name{
	display: flex;
	justify-content: space-between;
}

a{
	color: white;
}

button{
	width: 20%;
	height: 50px;
	margin: auto;
	border-radius: 50px;
	background-color: rgb(46, 139, 87);
	color: white;
	font-size: 1rem;
	border: 5px solid white;
	box-shadow: 5px 10px 15px rgb(46, 139, 87);
}

button:hover{
	background-color: white;
	color: rgb(46, 139, 87);
	border-color: rgb(46, 139, 87);
	box-shadow: 5px 10px 15px white;
	font-weight: 700;
}
button:focus{
	outline: none;
	border-color: cyan;
	color: cyan;
	box-shadow: 5px 10px 15px cyan;
}

@media (max-width: 768px){
	#name{
		flex-direction: column;
		width: 100%;
	}
	#firstNameLabel, #lastNameLabel{
		margin-top: 1rem;
		width: 100%;
	}
	#container{
		width: 90vw;
	}
	button{
		width: 30%;
	}
}